<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQftUZzsd5d4aIIoSQBFxAxeXRxvSSQdLRpuw&usqp=CAU"
    alt="mock"
    height="200px">
  </div>

  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit am Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, voluptatem similique culpa nisi ullam quam, veniam reiciendis sapiente dicta neque id fa </p>
  </div>
</div>
